DB_ENGINE=django.db.backends.postgresql # Data Base
POSTGRES_USER=postgres # Username of database owner
POSTGRES_PASSWORD=postgres # Password of database owner
POSTGRES_DB=postgres # Name of database
DB_HOST=postgres # Name of docker postgres container
DB_PORT=5432 # Port of database (default=5432)
DJANGO_SECRET_KEY="..." # Your secret key
DEBUG=False # Enable Debag in django
ALLOWED_HOSTS=["xxx.xxx.xxx.xxx", "127.0.0.1", "localhost"] # Allowed hosts